
.Dash{
    background: linear-gradient(123.9deg, #1D007E 3.71%, #EBE4FF 70.1%);
    width: 100vw;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: blue orange;
}

aside {
    background: #000055;
    width: 330px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: blue orange;
}

aside h1{
    font-size: 40px;
}
aside a{
    padding: 20px;
    margin: 5px 0;
    font-size: 25px;
}

#logo_bird{
    margin-left: -50px;
    margin-top: -20px;
    width: 60px;
}

#sideNav_logo{
    width: 330px;
    z-index: 100;
    background:#000055;
}

#sidenav-collapse-main{
    margin-top: 250px;
}

/*Side main body part styles*/
.side_main{
    width: 100%!important;
    padding: 0 18px 18px 18px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: blue orange;
    background: rgb(240, 240, 240);
}

header{
    z-index: 200;
    width: 100%;
    height: 120px;
    color: white;
}
#navbar_top{
    margin-top: 20px;
    height: 100px;
    border-radius: 8px;
}
.navbar-toggler{
    color: #fff!important;
    font-size:28px;
}

footer{
    z-index: 200;
    width: 100%;
    height: 80px;
    margin: 5px 0;
}

#sidenavCard {
    border-radius: 50px;
    height: 330px!important;
    background: rgb(3, 8, 250);
    background: radial-gradient(circle, rgba(3, 8, 250, 0.7654412106639531) 0%, rgba(61, 2, 157, 1) 100%);
    box-shadow: inset 20px 20px 60px #1c036e,
        inset -20px -20px 60px #260594;
}
#sidenavCard img{
    width: 100%!important;
    height: 40%!important;
}
#setting:hover {
    transform: rotate(360deg);
    color: #000055;
    font-size: large;
}

.notification span {
    margin-top: -10px;
    border-radius: 50%;
}