@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;700&display=swap");

#DashboardLogo {
  z-index: 100;
  box-shadow: -18px 5px 25px #4545ca !important;
  position: absolute;
  width: 330px;
  background: #000055;
  height: 170px;
}

#DashboardLogo img {
  position: absolute;
  margin-left: 40px;
  margin-top: 16px;
  width: 60px;
}
#DashboardLogo h1 {
  margin-left: 10%;
  font-family: "Oswald", sans-serif;
}
#SideNavList ul li .nav-link-text {
  font-family: "Oswald", sans-serif;
  color: rgb(220, 220, 220);
}
#SideNavList ul li {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 22px;
  padding: 8px 20px;
  /* background: linear-gradient(90.87deg, #0a3a87 61.78%, #7f4294 100%); */
  box-shadow: 0px 6.38462px 31.9231px rgba(39, 81, 170, 0.5);
  border-radius: 25px 0px 0px 25px;
}
#SideNavList {
  background: #000055;
  margin-top: 140px;
  padding-top: 50px;
  height: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

.sidenav-footer {
  background: #000055;
}

#sidenavCard {
  z-index: 1;
  border-radius: 50px;
  height: 330px !important;
  background: rgb(3, 8, 250);
  background: radial-gradient(
    circle,
    rgba(3, 8, 250, 0.7654412106639531) 0%,
    rgba(61, 2, 157, 1) 100%
  );
  box-shadow: inset 20px 20px 60px #1c036e, inset -20px -20px 60px #260594;
}
#sidenavCard img {
  width: 100% !important;
  height: 40% !important;
}
